/* src/Home.css */

.cards-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    width: 45%;
}

input {
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    max-width: 300px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.pagination {
    margin-top: 20px;
}

.pagination button {
    margin: 0 5px;
    padding: 15px 10px;
    border: none;
    width: auto;
    background-color: #007bff;
    color: white;
    border-radius: 85px;
    cursor: pointer;
}

.pagination button.active {
    background-color: #0056b3;
}
